<div>

	<style>
	body {
background: url(/views/backgroundTravel.jpg);

  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
background-repeat: no-repeat;
 background-size:100% 200%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
	</style>

<div class="container">


<br><br><br><br><br>
	  <form class="form-signin" ng-submit="validate()">
      <div class="well">


        <h2 class="form-signin-heading">Please Login</h2>
        <div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">@</span>
	  <input type="text" name="username" class="form-control" placeholder="Username" ng-model="userid" required>
	</div>
        <div class="input-group">
        <label for="inputPassword" class="sr-only">Password</label>
       <span class="input-group-addon" id="basic-addon2">@</span>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
</div>
<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">&nbsp; Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a class="btn btn-lg btn-primary btn-block" ng-click="openregister()">Register</a>
</div>
      </form>
</div>

</div>
